<!DOCTYPE html>
<html>
  <head>
    <title>Myblok</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  </head>

  <body id="loggedinback">
  <div class="header-user">
    <div class="background-content">
      <a href="/"><img id="logo" src="/assets/mybloknew.png" /></a>
    </div>
    <hr>
  </div>

  <div class="row lognav">
    <span id="usernametitle">Welcome, <%= current_user.username %>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
    <center><button id="logoutbutton" type="submit" class="btn btn-secondary btn-lg">Logout</button></center>
  </form>
  </div>

  <%= yield %>
  </body>

</html>
